*
{
	margin: 0;
}
html
{
	font-size:100%;
}
#outer
{
	display: flex;
	width:99%;
	height: 100%;
	position: absolute;
}
#left
{
	width: 80%;
	background-size: cover;
}
#right
{
	width: 20%;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'PT Mono', monospace;
	
}
#formDiv
{
	margin: auto;
}

#left h1
{
	margin: auto;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 5vw;
	color: #FFFFFF;
}

#formDiv button
{
	border: white 2px solid;
	background-color: black;
	color: white;
	font-family: 'PT Mono', monospace;
}
