{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'agentportal/style.css' %}">


<a id="logoutLink" href="logout">
	logout
</a>
<h1 id="welcomeH1">
	{{userName}}
</h1>

<div id="outer">
	<div id="left">
		<div id="leftTop">
			<!-- can insert logic to swap between static and generated image based off whether some
			context values are passed in or not
			-->

			<img id="mapImage" src="https://images.idgesg.net/images/article/2018/09/google_map_w_markers-100770972-large.jpg">
		</div>
		
		
		<!--insert logic to cycle through deliveries or not, again based on whether context values are passed in or not
		-->
		<div id="leftBottom">
			<h3>
			check upon successful delivery
			</h3>

			{% for dateNameAddress in dateNameAddressList %}
				<input type="checkbox">
				{{dateNameAddress.date}}:{{dateNameAddress.name}}:{{dateNameAddress.address}}
				<br>
			{% endfor %} 
		</div>
	
		
		
	</div>
	
	
	<div id="right">
		<h1> choose delivery dates to display</h1>
		<form action="{% url 'agentportal:agentportal-showDeliveries' %}" method="post">
		
		{% csrf_token %}
		
		<!-- to be integrated into form
		-->
		<label>from:
		<input type="date" name="startDate">
		</label>
		<label> to: 
		<input type="date" name="endDate">
		</label>
		<br>
		<input type="submit" value="submit">
		</form>
		<br>
	</div>

</div>


